
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #06145B;
    /* height: 125px; */

}
.imglogo{
    height: 108px;
    width: auto;
    align-items: center;
    margin: 10px;
}
h1{
    color: white;
    padding: 5px;
}
.separador{
    background-color: rgb(95, 236, 95);
    height: 5px;
}
.compra{
    position: sticky;
    top: 0;
    padding: 25px;
}

#logocompra{
    width: 200%;
    position: absolute;
    top:7px;
    right: 7px;
}
#logocompra:hover{
    cursor: pointer;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
section h2{
    margin-bottom: 5px;
    padding: 20px;
}
article{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
    border: #06145B 1px solid;
    border-radius: 10px;

}
article img{
    
    width: 80%;
    margin: auto;
    height: 450px;
    border-radius: 5px;
    

}
article p{
    text-align: center;
}
article h3{
    text-align: center;
    margin: 5px;
    background-color: #06145B;
    color:white;
    padding: 8px;
}

@media only screen and (min-width: 600px){ /* TABLET */
    .col-t-1{width: 8.33%;}
    .col-t-2{width: 16.66%;}
    .col-t-3{width: 25%;}
    .col-t-4{width: 33.33%;}
    .col-t-5{width: 41.66%;}
    .col-t-6{width: 50%;}
    .col-t-7{width: 58.33%;}
    .col-t-8{width: 66.66%;}
    .col-t-9{width: 75%;}
    .col-t-10{width: 83.33%;}
    .col-t-11{width: 91.66%;}
    .col-t-12{width: 100%;}
    
 
}
@media only screen and (min-width: 768px){ /* ESCRITORIO */
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
    
    #logocompra{
        width: 8%;
        position: absolute;
        top:7px;
        right: 7px;
        padding: 6px;
    }
    article img{
        height: 300px;
    }
    section{
        display: flex;
        flex-direction: column;
    }
    .caja{
        display: flex;
        flex-direction: row;
        width: 90%;
    }
    article{
        margin: 8px;
    }

}